.demo-menu-category__link {
    height: 30px;
    max-height: 30px;
    padding-left: 30px;

    user-select: none; 
    transition: 0.4s all;
    transform: translateX(0px);

    opacity: 1;

    font-size: 13px;
    &:hover {
      cursor: pointer;
    }
}
@import "_hide/_demo-menu-category__link_hide_undefined";