.insum-menu-search {
  position: relative;

  display: flex;

  &__icon {
    position: absolute;
    left: 10px;

    width: 20px;

    line-height: 40px;
  }

  input {
    width: calc(100% - 50px);
    height: 40px;
    padding: 0 10px 0 40px;

    transition: 0.2s all;

    color: var(--insum-sidemenu__font-accent-color, $insum-sidemenu__font-accent-color);
    border: none;
    outline: none;
    background: transparent;

    font-size: 14px;

    &:focus {
      border-bottom: 2px solid var(--insum-sidemenu__font-accent-color, $insum-sidemenu__font-accent-color);
    }
  }
}
