$insum-sidemenu__background-color: #222222;
$insum-sidemenu__font-family: "Ubuntu", sans-serif;
$insum-sidemenu__font-main-color: #d9d9d9;
$insum-sidemenu__font-accent-color: #ffffff;

@keyframes moveout {
  from {
    transform: translateX(0);

    opacity: 1;
  }

  to {
    transform: translateX(-50px);

    opacity: 0;
  }
}

@keyframes movein {
  from {
    transform: translateX(-50px);

    opacity: 0;
  }

  to {
    transform: translateX(0);

    opacity: 1;
  }
}

@keyframes hide {
  to,
  from {
    max-height: 0;

    transform: translateX(-50px);

    opacity: 0;
  }
}

@import "./insum-menu/insum-menu.scss";
@import "./insum-menu-search/_insum-menu-search.scss";
@import "./insum-menu-category/_insum-menu-category.scss";
