@keyframes moveout {
  from {
    transform: translateX(0px);

    opacity: 1;
  }
  to {
    transform: translateX(-50px);

    opacity: 0;
  }
}

@keyframes movein {
  from {
    transform: translateX(-50px);

    opacity: 0;
  }
  to {
    transform: translateX(0px);

    opacity: 1;
  }
}

@keyframes hide {
  to,
  from {
    max-height: 0px;

    transform: translateX(-50px);

    opacity: 0;
  }
}

@import "./insum-menu/insum-menu.scss";
@import "./insum-menu-search/_insum-menu-search.scss";
@import "./insum-menu-category/_insum-menu-category.scss";